# @package algorithm

_target_: src.algorithms.vicreg.VICReg

seed: ${seed}

feature_blur:
  _target_: src.models.augmentation.FastFeatureBlur
  prob: 0.9004016520359364
  magnitude: 0.92685112547458
  strength: 0.749655944679925


object_mask:
  _target_: src.models.augmentation.FastObjectMask
  prob: 0.5709886168264394

object_norm_params: ${paths.data_dir}/mlready/${data.data_mlready.name}/${data.data_normalizer.name}
object_feature_map: ${paths.data_dir}/mlready/${data.data_mlready.name}/${data.data_normalizer.name}/object_feature_map.json

lorentz_rotation:
  _target_: src.models.augmentation.FastLorentzRotation
  _partial_: true
  prob: 0.5

model:
  _target_: src.models.mlp.MLP
  in_dim: 57
  nodes: [29]
  out_dim: 10
  batchnorm: false

  init_weight:
    _target_: src.utils.hydra.get_method
    path: torch.nn.init.xavier_uniform_

  init_bias:
    _target_: src.utils.hydra.get_method
    path: torch.nn.init.zeros_

projector:
  _target_: src.models.mlp.MLP
  in_dim: 10
  nodes: []
  out_dim: 40
  batchnorm: true

loss:
  _target_: src.losses.vicreg.VICRegLoss
  inv_coef: 50
  var_coef: 50
  cov_coef: 1

optimizer:
  _partial_: true
  _target_: torch.optim.Adam
  lr: 0.0001033146150433934
  weight_decay: 0.0

scheduler:
  # here other attributes...
  scheduler:
    _target_: src.optimizers.cdw.CosineWithWarmup
    _partial_: true
    warmup_ratio: 0.1
    min_lr_ratio: 0.05
    warmup_start_ratio: 1e-3
