# @package algorithm

defaults:
  - /model/encoder@encoder
  - /model/decoder@decoder
  - _self_

_target_: src.algorithms.vae.VAE
features: null

encoder:
  _target_: src.models.encoder.VariationalEncoder
  nodes: [57, 28, 16, 8] # 57 input features, 8 latent features
  init_weight:
    _target_: src.utils.hydra.get_method
    path: torch.nn.init.xavier_uniform_
  init_bias:
    _target_: src.utils.hydra.get_method
    path: torch.nn.init.zeros_

loss:
  _target_: src.losses.vae.ClasscVAELoss
  scale: 0.5736625791372814

optimizer:
  _partial_: true
  _target_: src.optimizers.lion.Lion
  lr: 0.5
  weight_decay: 0.0

scheduler:
  # here other attributes...
  scheduler:
    _partial_: true
    _target_: src.optimizers.cdrw.CDRW
    lr0: ${algorithm.optimizer.lr}
    s0: 32
    t_mul: 2.0
    m_mul: 0.65
    alpha: 1e-6
    warmup_epochs: 10
