# defaults:
  # Consider masking:
  # - /model/masking@masking: multiplicity # "particle", "multiplicity", null


_target_: src.algorithms.classifier.Classifier


features: null 


model:
  _target_: src.models.components.mlp.MLP

  nodes: [57, 28, 16, 8, 1]

  init_weight:
    _target_: src.utils.hydra.get_method
    path: torch.nn.init.xavier_uniform_

  init_bias:
    _target_: src.utils.hydra.get_method
    path: torch.nn.init.zeros_


loss:
  _target_: torch.nn.BCEWithLogitsLoss
  # pos_weight: '${torch_full_float, 1.0, 1}'  # here could go the ratio signal/total
  reduction: mean


optimizer:
  _partial_: true
  _target_: src.optimizers.lion.Lion
  lr: 0.0001
  weight_decay: 0.0


scheduler:
  scheduler:
    _partial_: true
    _target_: src.optimizers.cdrw.CDRW
    lr0: ${algorithm.optimizer.lr} 
    s0: 32
    t_mul: 2.0
    m_mul: 0.65
    alpha: 1e-6
    warmup_epochs: 10