# @package algorithm

_target_: src.algorithms.vicreg.VICReg

seed: ${seed}
diagnosis_metrics: false
ckpt: ''

feature_blur:
  _target_: src.algorithms.components.augmentation.FastFeatureBlur
  prob: 0.40
  magnitude: 0.12
  strength: 0.45

object_mask:
  _target_: src.algorithms.components.augmentation.FastObjectMask
  prob: 0.02

lorentz_rotation:
  _target_: src.algorithms.components.augmentation.FastLorentzRotation
  _partial_: true
  prob: 0.3

model:
  _target_: src.models.components.mlp.HGQMLP
  nodes: [57, 29, 10]
  input_layer_config:
    place: "datalane"
    q_type: "kif"
    i0: 5
    f0: 3
    trainable: false
    ic:
      _target_: hgq.constraints.Constant
      value: 5
    fc:
      _target_: hgq.constraints.Constant
      value: 3
  output_layer_config:
    place: 'all'
    q_type: "kif"
    i0: 5
    f0: 3
    trainable: false
    ic:
      _target_: hgq.constraints.Constant
      value: 5
    fc:
      _target_: hgq.constraints.Constant
      value: 3
  ebops: true
  final_activation: false

projector:
  _target_: src.models.components.mlp.MLP
  nodes: [10, 256, 256, 32]
  batchnorm: true

loss:
  _target_: src.losses.vicreg.VICRegLoss
  inv_coef: 25
  rvar_coef: 0.5
  rcov_coef: 0.5

optimizer:
  _partial_: true
  _target_: torch.optim.AdamW
  lr: 0.0003
  weight_decay: 1e-3
  betas: [0.9, 0.99]
  eps: 1e-8

scheduler:
  scheduler:
    _target_: src.optimizers.cdw.CosineWithWarmup
    _partial_: true
    warmup_ratio: 0.1
    min_lr_ratio: 0.05
    warmup_start_ratio: 1e-3
