# Template VAE configuration.
defaults:
  - _self_

_target_: src.algorithms.vae.VAE
features: null

encoder:
  _target_: src.algorithms.components.encoder.VariationalEncoder
  nodes: [57, 28, 16, 8] # 57 input features, 8 latent features

decoder:
  _target_: src.algorithms.components.decoder.Decoder
  nodes: [8, 24, 32, 64, 128, 57] # v4 axol1tl architecture

loss:
  _target_: src.losses.vae.ClassicVAELoss
  scale: 1
  kl_scale: 0

# Annealing of the KL scale scalar.
kl_warmup_frac: 0.0

optimizer:
  _partial_: true
  _target_: torch.optim.AdamW
  lr: 0.001
  weight_decay: 0.0
  betas: [0.9, 0.999]
  eps: 1e-8

# scheduler:
#   scheduler:
#     _partial_: true
#     _target_: torch.optim.lr_scheduler.CosineAnnealingLR
#     T_max: ${trainer.max_epochs}
