# Template VAE configuration.
defaults:
  - _self_

_target_: src.algorithms.vae.VAE
features: null

encoder:
  _target_: src.algorithms.components.encoder.VariationalEncoder
  nodes: [57, 28, 16, 8] # 57 input features, 8 latent features

decoder:
  _target_: src.algorithms.components.decoder.Decoder
  nodes: [8, 24, 32, 64, 128, 57] # v4 axol1tl architecture

loss:
  _target_: src.losses.vae.ClassicVAELoss
  scale: 0.5

optimizer:
  _partial_: true
  _target_: torch.optim.AdamW
  lr: 0.001
  weight_decay: 0.01

# scheduler:
#   scheduler:
#     _partial_: true
#     _target_: torch.optim.lr_scheduler.ExponentialLR
#     gamma: 0.95
