_target_: src.algorithms.vae.VAE
# masking: null
features: null

encoder:
  _target_: src.models.encoder.VariationalEncoder

loss:
  _target_: src.losses.MultiLoss

  reduction: none # !! IMPORTANT !!

  # Here the losses to use for backpropagation:
  list_losses:
    - reconstruction
    - kl

  # The rest of the losses are imported directly from the defaults.
  reconstruction:
    scale: 0.5
  kl:
    scale: 0.5


optimizer:
  _partial_: true
  _target_: src.optimizers.lion.Lion
  lr: 0.5
  weight_decay: 0.0


scheduler:
  # here other attributes...
  scheduler:
    _partial_: true
    _target_: src.optimizers.cdrw.CDRW
    lr0: ${algorithm.optimizer.lr} 
    s0: 32
    t_mul: 2.0
    m_mul: 0.65
    alpha: 1e-6
    warmup_epochs: 10
