defaults:
  - /model@_here_: ae

  # Here add the losses:
  - /loss@loss.reconstruction: reconstruction
  - /loss@loss.kl: kl
  - /loss@loss.mi: mi
  - /loss@loss.mmd: mmd
  - /loss@loss.alignment: alignment
  - /loss@loss.dipvae: dipvae
  - /loss@loss.bvae: bvae
  - /loss@loss.gradient: gradient

  # Consider masking:
  - /model/masking@masking: multiplicity # "particle", "multiplicity", null


_target_: src.algorithms.vae.VAE


# masking: null


features: null 


encoder:
  _target_: src.models.encoder.VariationalEncoder


loss:
  _target_: src.losses.MultiLoss

  reduction: none # !! IMPORTANT !!

  # Here the losses to use for backpropagation:
  list_losses:
    - reconstruction
    - kl

  # The rest of the losses are imported on top, or directly from the defaults.
  reconstruction:
    scale: '${substract: 1.0, ${scan.alpha}}'
  kl:
    scale: ${scan.alpha}


optimizer:
  _partial_: true
  _target_: src.optimizers.lion.Lion
  lr: ${scan.lr}
  weight_decay: 0.0


scheduler:
  # here other attributes...
  scheduler:
    _partial_: true
    _target_: src.optimizers.cdrw.CDRW
    lr0: ${algorithm.optimizer.lr} 
    s0: 32
    t_mul: 2.0
    m_mul: 0.65
    alpha: 1e-6
    warmup_epochs: 10
