# @package algorithm

_target_: src.algorithms.vicreg.VICReg

seed: ${seed}

feature_blur:
  _target_: src.algorithms.components.augmentation.FastFeatureBlur
  prob: 0.5
  magnitude: 0.5
  strength: 0.5

object_mask:
  _target_: src.algorithms.components.augmentation.FastObjectMask
  prob: 0.5

lorentz_rotation:
  _target_: src.algorithms.components.augmentation.FastLorentzRotation
  _partial_: true
  prob: 0.5

model:
  _target_: src.algorithms.components.mlp.MLP
  nodes: [57, 29, 10]
  batchnorm: false

projector:
  _target_: src.algorithms.components.mlp.MLP
  nodes: [10, 40] # * 4 projection
  batchnorm: true # Added batchnorm

loss:
  _target_: src.losses.vicreg.L1VICRegLoss
  inv_coef: 50
  var_coef: 50
  cov_coef: 1

optimizer:
  _partial_: true
  _target_: torch.optim.AdamW
  lr: 0.001
  weight_decay: 0.0
