_target_: src.models.classifier.Classifier

features: null 

classifier:
  _target_: src.models.components.classifier.BinaryClassifier

  # 57 input features, 8 latent features
  nodes: [57, 28, 16, 8]

  init_weight:
    _target_: src.utils.hydra.get_method
    path: torch.nn.init.xavier_uniform_

  init_bias:
    _target_: src.utils.hydra.get_method
    path: torch.nn.init.zeros_

loss:
  _target_: src.models.losses.classifier.BinaryCrossEntropy
  reduction: none

optimizer:
  _partial_: true
  _target_: src.models.optimizers.lion.Lion
  lr: 0.0001
  # betas: (0.9, 0.99)
  weight_decay: 0.0

scheduler:
  scheduler:
    _partial_: true
    _target_: src.models.optimizers.cdrw.CDRW
    lr0: ${model.optimizer.lr} 
    s0: 32
    t_mul: 2.0
    m_mul: 0.65
    alpha: 1e-6
    warmup_epochs: 10
