_target_: src.models.qvae.QVAE

encoder:
  _target_: src.models.components.vae.QuantizedEncoder
  input_features: 102
  nodes: [28, 15]
  latent_dim: 8
  precision_kernel: [6, 2]
  precision_bias: [10, 6]
  precision_activation: [10, 6]
  precision_data: [8, 5]
  
decoder:
  _target_: src.models.components.vae.Decoder
  latent_dim: ${model.encoder.latent_dim}
  nodes:
    - 24
    - 32
    - 64
    - 128
    - ${model.encoder.input_features}

loss:
  _target_: src.models.losses.vae.VAELoss
  alpha: 1.0
  beta: 0.604108559135001

optimizer:
  _partial_: true
  _target_: src.models.optimizers.lion.Lion
  lr: 0.0001
  # betas: (0.9, 0.99)
  weight_decay: 0.0

scheduler:
  # here other attributes...
  scheduler:
    _partial_: true
    _target_: src.models.optimizers.cdrw.CDRW
    lr0: ${model.optimizer.lr} 
    s0: 32
    t_mul: 2.0
    m_mul: 0.65
    alpha: 1e-6
    warmup_epochs: 10
    last_epoch: -1
