_target_: src.models.vae.VAE

features: null 

encoder:
  _target_: src.models.components.vae.Encoder

  # 57 input features, 8 latent features
  nodes: [57, 28, 16, 8]
  
decoder:
  _target_: src.models.components.vae.Decoder
  nodes: [8, 24, 32, 64, 128, 57]

loss:
  _target_: src.models.losses.vae.AxoV4Loss
  alpha: 0.5736625791372814
  reduction: none

optimizer:
  _partial_: true
  _target_: src.models.optimizers.lion.Lion
  lr: 0.0001
  weight_decay: 0.0

scheduler:
  scheduler:
    _partial_: true
    _target_: src.models.optimizers.cdrw.CDRW
    lr0: ${model.optimizer.lr} 
    s0: 32
    t_mul: 2.0
    m_mul: 0.65
    alpha: 1e-6
    warmup_epochs: 10
