defaults:
  - model_summary
  - rich_progress_bar
  # - rate
  - model_checkpoint_i
  - model_checkpoint_loo
  - cap
  - model_checkpoint_cap
  # - batch_size_finder
  - _self_

model_summary:
  max_depth: -1
