# @package callbacks

defaults:
  - default
  - metrics@anomaly_rate: anomaly_rate
  - checkpointing@single_dataset_min: model_checkpoint_singledata
  - checkpointing@single_dataset_max: model_checkpoint_singledata
  - checkpointing@single_dataset_last: model_checkpoint_singledata
  - checkpointing@single_dataset_stable: model_checkpoint_singledata
  - _self_

single_dataset_max:
  monitor: loss_total_full_rate0.25
  criterion:
    _target_: src.callbacks.checkpointing.criterion.Max
    top_k: 1

single_dataset_min:
  monitor: loss_total_full_rate0.25
  criterion:
    _target_: src.callbacks.checkpointing.criterion.Min
    top_k: 1

single_dataset_stable:
  monitor: loss_total_full_rate0.25
  criterion:
    _target_: src.callbacks.checkpointing.criterion.Stable
    threshold: 0.1
    patience: 10
    top_k: 1

single_dataset_last:
  monitor: loss_total_full_rate0.25
  criterion:
    _target_: src.callbacks.checkpointing.criterion.Last
