model_checkpoint_loo:
  _target_: src.callbacks.model_checkpoint.LeaveOneOutModelCheckpoint
  # dirpath: ${paths.output_dir}/checkpoints
  dirpath: ${paths.root_dir}/checkpoints/scan_lr=${algorithm.optimizer.lr} #_alpha${algorithm.loss.alpha}/
  filename: 'e={epoch:02d}-s={step}'
  metric_name: loss/kl
  ds_keys_to_skip:
    - main_train
    - main_val
    - main_test
    - SingleNeutrino_E-10-gun
    - SingleNeutrino_Pt-2To20-gun
  save_top_k: 1
  mode: min
  save_last: true