# @package callbacks

defaults:
  - basic
  - checkpointing@max_rate_total: model_checkpoint_singledata
  - checkpointing@max_rate_reco: model_checkpoint_singledata
  - checkpointing@max_rate_kl: model_checkpoint_singledata
  - _self_

# Track the anomaly rate by defining each of the components of the loss as the
# anomaly score.
anomaly_rate:
  metric_names: ["loss/total/full", "loss/reco/full", "loss/kl/full"]

# Set up checkpointing on the rate curve.
max_rate_kl:
  monitor: loss_kl_full_rate0.25
  criterion:
    _target_: src.callbacks.checkpointing.criterion.Max
    top_k: 1

max_rate_reco:
  monitor: loss_reco_full_rate0.25
  criterion:
    _target_: src.callbacks.checkpointing.criterion.Max
    top_k: 1

max_rate_total:
  monitor: loss_total_full_rate0.25
  criterion:
    _target_: src.callbacks.checkpointing.criterion.Max
    top_k: 1
