# @package callbacks

defaults:
  - basic
  - _self_

model_summary:
  max_depth: -1

# Track the anomaly rate by defining each of the components of the loss as the
# anomaly score.
anomaly_rate:
  metrics: ["loss/total/full", "loss/reco/full", "loss/kl/full"]
